@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;

}

.cabecera {
    padding-top: 3%;
    padding-bottom: 3%;
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: goldenrod;
    animation-duration: 3s;
    animation-name: slidein;
}

.padre {
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    padding-left: 30%;
}

.ilus {
    background-color:rgba(48, 48, 51, 0.7);
    border-radius: 10%;
    padding: 10%;
}

footer {
    background-color: #343A40;
    padding: 2%;
    color: white;
    text-align: center;
}

span {
    color: goldenrod;
}

#cookies {
    background-color: lightseagreen;
    position: fixed;
    bottom: 0;
    left: 0;
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
