@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/fondo.jpg);
    background-size: cover;

}

.cabecera {
    padding-top: 5%;
    padding-bottom: 3%;
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: goldenrod;
}

h2 {
  font-family: 'Cinzel', serif;
  color: black;
  font-size: 50px;
  margin-left: 10%;
}

h3 {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 15%;
}

footer {
  background-color: #343A40;
  padding: 2%;
  color: white;
  text-align: center;
}

span {
  color: goldenrod;
}

.container-fluid  {
  width: 80%;
  padding: 5%;
}

.texto {
  font-size: 20px;
  margin-left: 10%;
}

#mapa {
  margin-left: 1%;
}



button {
  padding: 2%;
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
}


a:link{
  color:black;
}

a:visited{
  color:goldenrod;
}

a:hover{
  color:black;
  text-decoration: none;
}
